*, *::after, *::before{box-sizing: border-box;}
body{background: none repeat scroll 0 0;font-family:'roboto','sans-serif';font-size: 15px;}

label {
  display: block;
  box-shadow: 0.1em 0.1em 0.1em rgb(165, 67, 67);
  margin: 1em;
  border-radius: 3ex;
  padding: 5ex 2em;
}
input[type=number] {
  text-align: right;
  border: 2px;cm;
}
input {
  float: right;
}
span {
  font-weight: bold;
}